#main-menu {
  height: 100vh;
  background-attachment: cover;
  background: url('../../images/main-background.svg');
}

#main-menu .container {
  height: 100vh;
}

#linkedin, #behance, #github, #portfolio{
  transition: all .5s;
  color: #fff;
}

#linkedin{
  background-color: #0A66C2;
}
#linkedin:hover,
#linkedin:active{
  background-color: #0753a0;
}

#behance{
  background-color: #0057FF
}
#behance:hover, #behance:active{ 
  background-color: #004add
}

#github{
  background-color: #24292E
}
#github:hover, #github:active{
  background-color: #0e1113
}

#portfolio{
  background-color: #927FBF
}
#portfolio:hover, #portfolio:active{
  background-color: #7b6ba1
}

#about-me{
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
}

#about-me h1{
  font-size: 4rem;
  color: #281947
}

#about-me p{
  font-size: 1.2rem;
  color: #281947;
}

#studies{
  margin-top: 8rem;
  background: #B9A6E9;
  padding-top: 6rem;
  border-radius: 0.8rem 0.8rem 0 0;
  font-family: "Poppins", sans-serif;
}

#studies h2{
  color: #3A2A5B;
  font-size: 3rem;
}

#studies p,
#studies li{
  color: #281947;
  font-size:1.2rem;
}

.container+.container{
  margin-top: 5rem;
}

#graduation {
  padding-bottom: 5rem;
}
